doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/style.css')
  body
    block content
    div(class='footer')
      a(href='https://github.com/LocalizeFriends/message-counter') Code on GitHub
